[submodule "node_modules/.cache/gh-pages/https!github.com!kulnaak!Jenkins.git"]
    path = node_modules/.cache/gh-pages/https!github.com!kulnaak!Jenkins.git
    url = https://github.com/kulnaak/Jenkins.git
